.task-card {
  position: relative;
  text-align: center;
  padding-bottom: 50px;
}

.label-container {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-wrap: wrap;
}

.label-sticker {
  padding: 2px 8px;
  margin: 2px 4px;
  border-radius: 4px;
  color: black;
  font-size: 12px;
  white-space: nowrap;
}

.task-title {
  font-weight: bold;
  margin-bottom: 20px;
}

.task-actions {
  position: absolute;
  bottom: 10px;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.task-owner {
  font-style: italic;
  margin-top: 5px;
}

mat-card-content {
  margin-top: 30px;
}

/* Colores de fondo según el estado */
.status-todo {
  background-color: #ffe0e0; /* Rojo claro */
}

.status-in-process {
  background-color: #fffacd; /* Amarillo claro */
}

.status-under-review {
  background-color: #e0ffe0; /* Verde claro */
}

status-finished {
  background-color: #90ee90; /* Verde */
}