/* Contenedor padre de las columnas */
.statuses-container {
  display: flex;
  gap: 20px;
  padding: 20px;
  background-color: #f4f5f7;
  height: calc(70vh);
  align-items: stretch;
  justify-content: space-between;
}

/* Cada columna */
.status-container {
  background: #ebecf0;
  border-radius: 8px;
  padding: 10px;
  flex: 1;
  min-width: 200px;
  max-width: 25%;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  height: 100%;
}

/* Título de cada columna */
.status-container h2 {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
  padding: 10px;
  color: #333;
}

/* Contenedor de tareas dentro de cada columna */
.tasks-container {
  display: block; /* Cambiamos display a block */
  overflow-y: auto;
  max-height: calc(100vh - 200px);
  padding-bottom: 5px;
}

/* Tarjetas de tareas */
.task-card {
  background: white;
  border-radius: 8px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  padding: 12px;
  transition: box-shadow 0.2s;
  cursor: grab;
  margin-bottom: 20px; /* Aumentamos el margen inferior */
}

/* Efecto hover en las tarjetas */
.task-card:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.filters-container {
  display: flex;
  gap: 10px; /* Espacio entre los filtros */
  align-items: center; /* Alineación vertical */
}


