<h2 mat-dialog-title>Crear Etiqueta</h2>

<mat-dialog-content>
    <form [formGroup]="tagForm" (ngSubmit)="onSubmit()">
        <mat-form-field class="full-width">
            <mat-label>Nombre de la Etiqueta</mat-label>
            <input matInput formControlName="name">
        </mat-form-field>

        <mat-form-field class="full-width">
            <mat-label>Color de la Etiqueta</mat-label>
            <input matInput type="color" formControlName="color">
        </mat-form-field>

        <div class="button-container">
            <button mat-button class="common-button" (click)="onNoClick()">Cancelar</button>
            <button mat-button class="common-button" type="submit" cdkFocusInitial>Guardar</button>
        </div>
    </form>
</mat-dialog-content>