.full-width {
  width: 100%;
  margin-bottom: 20px;
}

.save-button {
  background-color: green;
  color: white;
  float: right;
}

.cancel-button {
  color: red;
  float: left;
}

.button-container {
  display: flex;
  justify-content: space-between;
}

