<h1 mat-dialog-title>Editar Tarea</h1>
<div mat-dialog-content>
  <form [formGroup]="taskForm" (ngSubmit)="onSubmit()">
    <mat-form-field appearance="outline" class="full-width">
      <input matInput placeholder="Título" formControlName="name" [disabled]="taskForm.get('status')?.value != '67e52395fdbbf39f531c34fe'">
    </mat-form-field>

    <mat-form-field appearance="outline" class="full-width">
      <textarea matInput placeholder="Descripción" formControlName="description"></textarea>
    </mat-form-field>

    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Estado actual: {{ getStatusLabel(taskForm.value.status) }}</mat-label>
      <mat-select formControlName="status">
        <mat-option value="67e67c1b2d4890a08460641b">To Do</mat-option>
        <mat-option value="67e67c222d4890a08460641d">In Process</mat-option>
        <mat-option value="67e67c2a2d4890a08460641f">Under Review</mat-option>
        <mat-option value="67e67c2f2d4890a084606421">Finished</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Etiquetas</mat-label>
      <mat-select formControlName="labels" multiple>
        @for (label of allLabels; track label._id) {
          <mat-option [value]="label._id">
            {{ label.name }}
          </mat-option>
        }
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Propietario de la tarea</mat-label>
      <mat-select formControlName="user" [disabled]="taskForm.get('status')?.value != '67e52395fdbbf39f531c34fe'">
        <mat-option [value]="null">
          <em>Sin propietario</em>
        </mat-option>
        @for (user of allUsers; track user._id) {
          <mat-option [value]="user._id">
            {{ user.username }}
          </mat-option>
        }
      </mat-select>
    </mat-form-field>

    <div class="button-container">
      <button mat-button class="cancel-button" type="button" (click)="onCancel()">Cancelar</button>
      <button mat-raised-button color="primary" type="submit" class="save-button">Guardar</button>
    </div>
  </form>
</div>
