<div class="project-container">
    <div class="project-header">
        <h1 class="project-title">{{this.project?.name}}</h1>
        <p class="connected-user"> 
            <span *ngIf="project?.user?.username">
                Conectado como: {{ project?.user?.username }}
                <button
                  mat-icon-button
                  aria-label="Cerrar sesión"
                  (click)="onLogout()"
                  title="Cerrar sesión"
                >
                  <mat-icon>logout</mat-icon>
                </button>
              </span>
        </p>
    </div>

    <div class="header-actions">
        <button mat-raised-button color="primary" class="new-task-btn" (click)="openDialog()">
            + Nueva Tarea
        </button>
        <button mat-raised-button color="primary" class="new-tag-btn" (click)="openTagModal()">
            + Nueva Etiqueta
        </button>
    </div>

    <div class="statuses-container">
        <app-statuses></app-statuses>
    </div>
</div>