<mat-toolbar class="project-toolbar">
  <!-- izquierda (puedes dejarlo vacío o meter un logo) -->
   <div class="toolbar-section">
    <button
      mat-icon-button
      aria-label="Volver a selección de proyectos"
      (click)="goToSelectProjects()"
    >
      <mat-icon>arrow_back</mat-icon>
    </button>
  </div>

  <!-- centro (título del proyecto) -->
  <div class="toolbar-section toolbar-center">
    <span class="toolbar-title">{{ project?.name }}</span>
  </div>

  <!-- derecha: acciones y usuario -->
  <div class="toolbar-section toolbar-right">
    <button mat-mini-fab color="primary" aria-label="Nueva tarea" (click)="openDialog()">
      <mat-icon>add</mat-icon>
    </button>
    <button mat-mini-fab color="accent" aria-label="Nueva etiqueta" (click)="openTagModal()">
      <mat-icon>label</mat-icon>
    </button>

    <button mat-button [matMenuTriggerFor]="userMenu" class="user-button">
      <mat-icon>person</mat-icon>
      <span class="username">{{ username }}</span>
      <mat-icon>arrow_drop_down</mat-icon>
    </button>
    <mat-menu #userMenu="matMenu">
      <button mat-menu-item (click)="onLogout()">
        <mat-icon>logout</mat-icon>
        <span>Desconectar</span>
      </button>
    </mat-menu>
  </div>
</mat-toolbar>

<app-statuses class="statuses-container"></app-statuses>
