.nueva-tarea-btn {
  margin: 20px;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  background-color: #1976d2 !important;
  color: white !important; 
}

.nueva-tarea-btn:hover {
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.3);
  transform: translateY(-2px); /* Hace que se "levante" */
  transition: all 0.2s ease-in-out;
}

.nueva-tarea-btn:active {
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  transform: translateY(2px); /* Simula un clic real */
  transition: all 0.1s ease-in-out;
}


