.project-container{
  padding: 16px;
}
.project-header {
  text-align: center;

}

.project-title {
  font-size: 28px;
  color: #3f51b5; /* Color azul para el título */
  font-family: 'Arial', sans-serif; /* Cambiar la fuente */
}

.header-actions {
  display: flex;
  margin-bottom: 8px;
  justify-content: center; /* Centrar los botones */
}

.header-actions button {
  margin: 0 10px; /* Espacio entre los botones */
}

.connected-user {
  text-align: right;
  font-size: 14px; /* Reduce el tamaño de la fuente */
  padding: 2px 5px; /* Reduce el padding */
  margin: 0; /* Elimina el margen */
  white-space: nowrap; /* Evita el salto de línea */
}