<h1 mat-dialog-title>Crear tarea</h1>
    <div mat-dialog-content>
      <form [formGroup]="taskForm" (ngSubmit)="onSubmit()">
        <mat-form-field>
          <input matInput placeholder="Título" formControlName="name">
        </mat-form-field>

        <mat-form-field>
          <textarea matInput placeholder="Descripción" formControlName="description"></textarea>
        </mat-form-field>

        <div class="button-container">
          <button mat-raised-button type="button" (click)="dialogRef.close()">Cancelar</button>
          <button mat-raised-button type="submit">Guardar</button>
      </div>
      </form>
    </div>
