.mat-dialog-content {
    padding: 25px;
    background-color: #f9f9f9; /* Un gris muy claro, casi blanco */
    border-radius: 12px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1); /* Sombra más suave */
  }

  .mat-dialog-container {
    border-radius: 16px; /* Bordes más redondeados */
    padding: 35px; /* Un poco más de espacio */
    background-color: #ffffff;
    border: 1px solid #e0e0e0; /* Borde más sutil */
  }

  h1.mat-dialog-title {
    color: #2196f3; /* Azul más moderno */
    font-size: 28px; /* Un poco más grande */
    font-weight: 600; /* Más énfasis */
    margin-bottom: 25px;
    text-align: center; /* Centrar el título */
  }

  form {
    display: flex;
    flex-direction: column;
    gap: 25px; /* Más espacio entre elementos */
  }

  mat-form-field {
    width: 100%;
  }

  mat-select {
    border-radius: 6px;
  }

  .button-container {
    display: flex;
    justify-content: flex-end; /* Alinea los botones a la derecha */
    gap: 15px; /* Espacio entre los botones */
    margin-top: 15px;
  }

  button.mat-raised-button, button.mat-button {
    margin: 20px;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    background-color: #1976d2 !important;
    color: white !important;
    border-radius: 8px;
}

button.mat-raised-button:hover, button.mat-button:hover {
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.3);
    transform: translateY(-2px);
    transition: all 0.2s ease-in-out;
}

button.mat-raised-button:active, button.mat-button:active {
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
    transform: translateY(2px);
    transition: all 0.1s ease-in-out;
}